<div class="row top-menu">
    <div class="col-md-6">
        <a href="{{url_for('main.showRestaurants')}}">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Restaurants
        </a>
        
        <!-- ADMIN-ONLY LINKS (left side) -->
        {% if current_user.is_authenticated and current_user.username == 'admin' %}
            <a href="{{url_for('main.activity_log')}}" class="ml-3">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Activity Log
            </a>
            <a href="{{url_for('main.security_alerts')}}" class="ml-3">
                <span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Security Alerts
            </a>
        {% endif %}
    </div>
    
    <div class="col-md-6 text-right">
        {% if current_user.is_authenticated %}
            <span class="text-muted mr-2">Logged in as: {{ current_user.username }}</span>
            <a href="{{url_for('main.logout')}}">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout
            </a>
        {% else %}
            <a href="{{url_for('main.login')}}">
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login
            </a>
        {% endif %}
    </div>
</div>